<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authentication Successful</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
<div class="navbar">
    <div class="navbar-head">
        <div class="logo-jira">

        </div>
        <div class="logo-text">
            APPBOT
        </div>
    </div>
</div>
<div class="container">
    <div class="inner-container">
        <div class="thumbsup"></div>
        <div class="text">Thanks for authorizing with me. <br/> Now I can help you !!.</div>
    </div>
</div>
</body>
</html>
